* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("Background.jpg");
    background-position: left center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 165vh;
    position: relative;
}

.main .box {
    height: 168vh;
    width: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    background-color: rgba(32, 32, 32, 0.877);
}

nav {
    max-width: 75vw;
    justify-content: space-between;
    margin-left: 190px;
    display: flex;
    align-items: flex-start;
}

nav img {
    width: 150px;
}

nav button {
    color: white;
    padding: 7px;
    border-radius: 10px;
    width: 80px;
    border-style: hidden;
}

.maintext {
    height: calc(120% - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 25px;
    padding: 0 30px;
}

.maintext> :nth-child(1) {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.text-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.text-buttons input {
    background-color: rgba(8, 8, 8, 0.603);
    padding: 18px;
    width: 70%;
    max-width: 350px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.text-buttons button {
    padding: 15px;
    font-size: 24px;
    width: 17vw;
    color: white;
    background-color: rgb(204, 6, 6);
    border-style: hidden;
    border-radius: 5px;
    font-weight: bold;
}
.mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70vw;
    margin: auto;
    color: white;
    font-size: 48px;
    font-weight: bolder;
    top: 136px;
}

section.mid>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.mid>div :nth-child(2) {
    font-size: 24px;
}

.midImg {
    display: flex;
    align-items: center;
}

.midImg img {
    width: 30vw;
}

.midImg video {
    width: 20vw;
    height: 100%;
    object-fit: cover;
    margin-left: 3vw; /* Adjust the margin as needed */
}
